<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="~{fragments/base :: head}"></header>
	<style>
		td, th { text-align: center; }
	</style>
	<script th:inline="javascript">
		function search() {
			const field = $('#field').val();
			const query = $('#query').val();
			const uri = '/abbs/board/list?p=' + [[${session.currentBoardPage}]] + '&f=' + field + '&q=' + query;
			location.href = encodeURI(uri);
		}
	</script>
</head>
<body>
	<div th:insert="~{fragments/base :: top}"></div>

	<div class="container" style="margin-top:80px">
		<div class="row">
			<div class="col-3">
				<aside th:replace="~{fragments/base :: aside}"></aside>
			</div>

			<div class="col-9">
				<main id="main">
					<table class="table table-sm table-borderless">
						<tr>
							<td style="width: 52%; text-align: left">
								<h3><strong class="me-5">게시글 목록</strong>
									<span style="font-size:16px"><a href="/abbs/board/insert"><i class="fa-solid fa-pen-to-square"></i> 글 쓰기</a></span>
								</h3>
							</td>
							<td style="width: 16%">
								<select class="form-control" id="field">
									<option value="title" ${field eq 'title' ? 'selected' : ''}>제목</option>
									<option value="content" ${field eq 'content' ? 'selected' : ''}>본문</option>
									<option value="uname" ${field eq 'uname' ? 'selected' : ''}>글쓴이</option>
								</select>
							</td>
							<td style="width: 24%">
								<span th:unless="${query}">
									<input class="form-control" type="text" id="query" placeholder="검색할 내용">
								</span>
								<span th:if="${query}">
									<input class="form-control" type="text" id="query" th:value="${query}">
								</span>
							</td>
							<td style="width: 8%">
								<button class="btn btn-outline-primary" onclick="search()">검색</button>
							</td>
						</tr>
					</table>
					<hr>
					<table class="table">
						<tr>
							<th style="width: 8%">ID</th>
							<th style="width: 42%">제목</th>
							<th style="width: 14%">글쓴이</th>
							<th style="width: 16%">수정시간</th>
							<th style="width: 10%">조회수</th>
							<th style="width: 10%">좋아요</th>
						</tr>
						<tr th:each="board: ${boardList}">
							<td>[[${board.bid}]]</td>
							<td>
								<a th:href="@{/board/detail/{x}/{y}(x=${board.bid},y=${board.uid})}">[[${board.title}]]</a>
								<span th:if="${board.replyCount ge 1}">
									<span class="text-danger">&#91;[[${board.replyCount}]]&#93;</span>
								</span>
							</td>
							<td>[[${board.uname}]]</td>
							<td>[[${#temporals.format(board.modTime, 'yy-MM-dd HH:mm')}]]</td>
							<td>[[${board.viewCount}]]</td>
							<td>[[${board.likeCount}]]</td>
						</tr>
					</table>
					
					<!-- pagination -->
					<ul class="pagination justify-content-center mt-4">
						<span th:if="${session.currentBoardPage gt 10}">
							<li class="page-item"><a class="page-link" th:href="@{/board/list(p=${startPage-1},f=${field},q=${query})}"><i class="fa-solid fa-less-than"></i></a></li>
						</span>
						<span th:if="${session.currentBoardPage le 10}">
							<li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-less-than"></i></a></li>
						</span>
						<span th:each="page: ${pageList}">
							<!-- <li class="page-item" th:classappend="${session.currentBoardPage eq page ? 'active' : ''}">
								<span th:if="${session.currentBoardPage eq page}">
									<a class="page-link" href="#">[[${page}]]</a>
								</span>
								<span th:if="${session.currentBoardPage ne page}">
									<a class="page-link" th:href="@{/board/list(p=${page},f=${field},q=${query})}">[[${page}]]</a>
								</span>
							</li> -->
							<span th:switch="${page}">
								<th:block th:case="${session.currentBoardPage}">
									<li class="page-item active">
										<a class="page-link" href="#">[[${page}]]</a>
									</li>
								</th:block>
								<th:block th:case="*">
									<li class="page-item">
										<a class="page-link" th:href="@{/board/list(p=${page},f=${field},q=${query})}">[[${page}]]</a>
									</li>
								</th:block>
							</span>
						</span>
						<span th:if="${totalPages gt endPage}">
							<li class="page-item"><a class="page-link" th:href="@{/board/list(p=${endPage+1},f=${field},q=${query})}"><i class="fa-solid fa-greater-than"></i></a></li>
						</span>
						<span th:if="${totalPages eq endPage}">
							<li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-greater-than"></i></a></li>
						</span>
					</ul>
				</main>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/base :: bottom}"></footer>
</body>
</html>